<div class="fixed-action-btn ">
    <a class="btn-floating btn-large accent" onClick="M.FloatingActionButton.getInstance(document.querySelector('.fixed-action-btn')).open()" >
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li (click)="action.emit(4)">
        <a class="btn-floating red">
          <img src="assets/speaker.svg" style="width: 1.4rem; margin-top: 9px"/>
        </a>
      </li>    
      <!-- <li (click)="action.emit(3)">
        <a class="btn-floating yellow">
          <img src="assets/drug.svg" style="width: 1.4rem; margin-top: 9px"/>
        </a>
      </li>
      <li (click)="action.emit(2)">
        <a class="btn-floating green modal-trigger" >
          <img src="assets/flask-full.svg" style="width: 1.3rem; margin-top: 10px"/>
        </a>
      </li> -->
      <li (click)="action.emit(1)">
        <a class="btn-floating blue darken-1">
          <i class="material-icons">navigate_next</i>
        </a>
      </li>
    </ul>
</div>

