<table mat-table [dataSource]="testDataSource" *ngIf="requests.length > 0"
  class="mat-elevation-z0">
  
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No </th>
        <td mat-cell *matCellDef="let test"> {{requests.indexOf(test)+1}} </td>
      </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let test"> {{test.laboratory_test.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="normality">
      <th mat-header-cell *matHeaderCellDef> Normality </th>
      <td mat-cell *matCellDef="let test" [matMenuTriggerFor]="appMenu">
        <!-- <span *ngIf="test.normality == null" class='secondery small'>No responce</span>
        <span *ngIf="test.normality != null">
          <mat-icon *ngIf="test.normality" style="color: green">done</mat-icon>
          <mat-icon *ngIf="!test.normality" style="color: red">close</mat-icon>
        </span> -->
       <span *ngIf="test.normality == null">Normality</span>
       <span *ngIf="test.normality"><mat-icon style="color:green">right</mat-icon></span>
       <span *ngIf="!test.normality && test.normality != null"><mat-icon style="color:red">close</mat-icon></span>

       <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="changeNormality(requests.indexOf(test), false)" >Abnormal</button>
          <button mat-menu-item (click)="changeNormality(requests.indexOf(test), true)" >Normal</button>
       </mat-menu>
       
      </td>
    </ng-container>
  
    <ng-container matColumnDef="value" >
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let test">
        <input type="number" 
        (change)="changeValue(requests.indexOf(test), $event)" 
        [value]="test.value" 
        style="width: 100px; height: 30px; padding: 2px 4px; opacity: 0.9">
      </td>
    </ng-container>
  
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> Note </th>
      <td mat-cell *matCellDef="let test">
        <input type="text" 
        (change)="changeNote(requests.indexOf(test), $event)" 
        style="width: 100%; height: 30px; padding: 2px 4px; opacity: 0.9" #note >
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="onRowClick(row)"></tr>
  </table> 
  <div class="row" *ngIf="requests.length == 0">
    <div class="center" style="width: 100%; opacity: 0.8">
      <h6><strong class="tertiary center">
        <B>No laboratory request and responce</B>
      </strong></h6>
    </div>
  </div>